@mixin size($scale) {
  content: '';
  display: block;
  width: percentage($scale);
  height: percentage($scale);
  margin: percentage((1 - $scale) / 2);
  box-sizing: border-box;
}

@mixin water() {
  &:before {
    border: 0.3em double #c3b42e;
    border-radius: 100%;
  }

  &:not([class*="--left"]), &[class*="Water--left"] {
    &:before {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &:not([class*="--right"]), &[class*="Water--right"] {
    &:before {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &:not([class*="--top"]), &[class*="Water--top"] {
    &:before {
      border-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &:not([class*="--bottom"]), &[class*="Water--bottom"] {
    &:before {
      border-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
